<div class="row">
    <div class="col-lg-8">
      <h1>Delivery Service Employees</h1>
    </div>
    <div class="col-lg-3">
      <!-- <input type="text" class="float-right" placeholder="search" [value]="searchText" (input)="searchText=$event.target.value"> -->

      <!-- Lab 9: Two-way Binding - search Text -->
      <input type="text" class="float-right" placeholder="search" [(ngModel)]="searchText">
      <br>
      <br>
      <span>You Searched :{{searchText}}</span>
      <!-- <span>{{childData}}</span> -->

    </div>
    <div class="col-lg-1">
      <button>New Employee</button>  <!-- Lab 16: Routing - Form Page -->
    </div>
  </div>
<hr>

<!-- Lab 13: Input Property - Counts -->
<app-employee-count [total]="getTotalCount()" [male]="getMaleCount()" [female]="getFemaleCount()"></app-employee-count>
<hr>

<div class="row">
<div class="col-lg-3" *ngFor="let e of employees; trackBy:trackByEmpID;"> <!-- Lab 10: *ngFor - data loop -->
  <div class="card" (mouseenter)="mouseOver($event)" (mouseleave)="mouseOut($event)">
  <img [src]="e.Gender == 'F'?ImgSrcF:ImgSrcM" class="card-img-top" alt="..." [appHighlight]>
    <div class="card-body">
      <h5 class="card-title">{{e.Name | employeeTitle:e.Gender | uppercase}}</h5> <!-- Lab 11: Pipes - uppercase --> <!-- Lab 12: Custom Pipes - salutation -->
      <div class="card-text">
        <div class="row">
            <div class="col-lg-6">
                <span [class]="KeyStyle" [ngClass]="{'italic':IsItalic}">Gender</span>
            </div>
            <div class="col-lg-6">
                <span class="text-center" *ngIf="e.Gender else notAvailable">{{e.Gender}}</span>
            </div>
            <div class="col-lg-6">
                <span [class]="KeyStyle">DOB</span>
            </div>
            <div class="col-lg-6">
                <span class="text-center" *ngIf="e.DOB else notAvailable">{{e.DOB | date:"dd/MM/yyyy"}}</span>     <!-- Lab 10: *ngIf - null data -->  <!-- Lab 11: Pipes - date format -->
            </div>
            <div class="col-lg-6">
                <span [class]="KeyStyle">Op Area</span>
            </div>
            <div class="col-lg-6">
                <span class="text-center">{{e.Area}}</span>
            </div>
        </div>
        <ng-template #notAvailable>
          <span class="text-center">N/A</span>
        </ng-template>
        <hr>
        <div class="text-center" [style.color]="e.IsAvailable?'green':'red'">{{e.IsAvailable ? "Available":"Not Available"}}</div>
    </div>
  </div>
</div>
</div>
</div>
